POSTGRES_DB=djst
POSTGRES_USER=djst
POSTGRES_PASSWORD=djst
POSTGRES_PORT=127.0.0.1:15436

BACKEND_PORT=127.0.0.1:18093
FRONTEND_PORT=172.17.0.1:5178
RUN_MIGRATIONS=true
MEDIA_PATH=./media
MEDIA_URL_PREFIX=/daijest/api/media
